h1 {
    font-family: 'Tetris';
    color: #dadaba ;
    align-items: center;
    
} 

h4 {
    font-family: 'Press Start 2P';
    color: #ffff ;
    
} 

body {
    font-family: Tetris;
    color: #ffff;
    align-items: center;
}

table{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
td{
    border: 5px outset;
    width: 20px;
    height: 20px;
}

.amarillo{
 background-color: yellow;
 border-color: yellow;
}

.verde{
    background-color: greenyellow;
    border-color: greenyellow;
}

.rojo{
    background-color: red   ;
    border-color: red;
}

.morado{
    background-color: purple;
    border-color: purple;
}

.azul{
    background-color: blue;
    border-color: blue;
}

.aqua{
    background-color: aqua;
    border-color: aqua;
}
.gris{
    background-color: grey;
    border-color: grey;
}
.naranja{
    background-color: orange;
    border-color: orange;
}
.negro{
    background-color: black;
    border-color: black;
    border:none
}
